.vanilla-slider-ts {
  --offset-1: 0;
  --offset-2: 0;
  --size: 20px;

  position: relative;
  width: 100%;
  user-select: none;

  &__bar {
    width: 100%;
    height: var(--size);
    background-color: cadetblue;
  }
  &__control {
    height: var(--size);
    width: var(--size);
    position: absolute;
    background-color: coral;
    cursor: pointer;
    top: 0;
    transform: translateX(-50%);

    &:first-of-type {
      left: var(--offset-1);
    }
    &:last-of-type {
      left: var(--offset-2);
    }
  }
  // screen reader only
  &__input {
    //position: absolute;
    //left: -10000px;
    //top: auto;
    //width: 1px;
    //height: 1px;
    //overflow: hidden;
  }
}
