.range-slider {
  $knobSize: 20px;

  position: relative;
  width: 100%;
  user-select: none;
  margin-left: auto;
  margin-right: auto;

  &.vertical {
    width: auto;
    height: 100%;
  }

  &__line {
    width: 100%;
    height: $knobSize;
    background-color: lightgray;

    &.vertical {
      height: 100%;
      width: $knobSize;
    }
  }
  &__fill {
    background-color: darksalmon;
    height: $knobSize;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;

    &.invert {
      left: auto;
      right: 0;
    }

    &.vertical {
      bottom: 0;
      top: auto;
      left: 0;
      height: 100%;
      width: $knobSize;

      &.invert {
        top: auto;
        bottom: 0;
      }
    }
  }
  &__knob {
    height: $knobSize;
    width: $knobSize;
    position: absolute;
    background-color: grey;
    cursor: pointer;
    top: 0;
    left: 0;
    transform: translateX(-50%);

    &.invert {
      right: 0;
      left: auto;
      transform: translateX(50%);
    }

    &.vertical {
      left: 0;
      top: auto;
      bottom: 0;
      transform: translateY(50%);

      &.invert {
        top: 0;
        bottom: auto;
        transform: translateY(-50%);
      }
    }
  }
  // screen reader only
  &__input {
     position: absolute;
     left: -10000px;
     top: auto;
     width: 1px;
     height: 1px;
     overflow: hidden;
  }
}
