.sliders {
  margin: 60px auto;
  max-width: min(400px, 90vw);
}

.horizontal-slider {
  margin-bottom: 70px;
  width: 400px;
  max-width: 100%;
}
.vertical-slider {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
  height: 300px;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 70px;
}
